<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button color="primary"></ion-back-button>
    </ion-buttons>
    <ion-title color="primary">Sign In</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  
  <div class="center-desktop">

    <p>Please enter your GoPulse account information</p>

    <ion-item>
      <ion-label position="floating">Email</ion-label>
      <ion-input required type="email" [(ngModel)]="email"></ion-input>
    </ion-item>


    <ion-item>
      <ion-label position="floating">Password</ion-label>
      <ion-input required type="password" [(ngModel)]="password"></ion-input>
    </ion-item>

    <br>
    
    <ion-button fill="outline" (click)="emailSignIn()" expand="block">Sign In</ion-button>

    <br>

    <a [routerLink]="['/forgot-password']">Forgot your password?</a>

  </div>

</ion-content>
