<ion-header>
  <ion-toolbar>
    <ion-title color="primary">
      Headlines
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  
  <div class="center-desktop">
    
    <ion-segment scrollable (ionChange)="segmentChanged($event)" value="world">
      <ion-segment-button value="world">
        World
      </ion-segment-button>
      <ion-segment-button value="nation">
        US
      </ion-segment-button>
      <ion-segment-button value="business">
        Business
      </ion-segment-button>
      <ion-segment-button value="technology">
        Tech
      </ion-segment-button>
      <ion-segment-button value="entertainment">
        Arts
      </ion-segment-button>
      <ion-segment-button value="sports">
        Sports
      </ion-segment-button>
      <ion-segment-button value="science">
        Science
      </ion-segment-button>
      <ion-segment-button value="health">
        Health
      </ion-segment-button>
    </ion-segment>

    <ion-list *ngFor="let article of articles">
  
      <ion-item detail="false">

      <ion-label class="ion-text-wrap" href='' router-direction="forward" (click)="openArticle($event, article)">
        <img src="{{ article.image }}" alt="">
        <h1>{{ article.title }}</h1>
        <br>
        <h2>{{ article.source.name }}</h2> 
        <p>{{ article.publishedAt | date:'fullDate' }}</p>
        <br>
      </ion-label>
    
      </ion-item>

    </ion-list>
 
  </div>

</ion-content>