<ion-header>
  <ion-toolbar>
    <ion-title color="primary">
      Headlines
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding" [scrollEvents]="true" (ionScroll)="getScrollPos($event.detail.scrollTop)">
  
  <div class="center-desktop">
    
    <ion-segment scrollable (ionChange)="segmentChanged($event)" value="world">
      <ion-segment-button value="world">
        World
      </ion-segment-button>
      <ion-segment-button value="nation">
        US
      </ion-segment-button>
      <ion-segment-button value="business">
        Business
      </ion-segment-button>
      <ion-segment-button value="technology">
        Tech
      </ion-segment-button>
      <ion-segment-button value="entertainment">
        Arts
      </ion-segment-button>
      <ion-segment-button value="sports">
        Sports
      </ion-segment-button>
      <ion-segment-button value="science">
        Science
      </ion-segment-button>
      <ion-segment-button value="health">
        Health
      </ion-segment-button>
    </ion-segment>

  <div *ngIf="showLoader">

    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    
    <ion-spinner name="bubbles" color="primary"></ion-spinner>
    
  </div>

  <div *ngIf="worldIsTrue">

    <ion-list *ngFor="let article of worldArticles">
  
      <ion-item *ngIf="!showLoader" detail="false">

      <ion-label class="ion-text-wrap" href='' router-direction="forward" (click)="openArticle($event, article)">
        <img src="{{ article.image }}" alt="">
        <h1>{{ article.title }}</h1>
        <br>
        <h2>{{ article.source.name }}</h2> 
        <p>{{ article.publishedAt | date:'fullDate' }}</p>
        <br>
      </ion-label>
    
      </ion-item>

    </ion-list>

  </div>

  <div *ngIf="nationIsTrue">

    <ion-list *ngFor="let article of nationArticles">
  
      <ion-item *ngIf="!showLoader" detail="false">

      <ion-label class="ion-text-wrap" href='' router-direction="forward" (click)="openArticle($event, article)">
        <img src="{{ article.image }}" alt="">
        <h1>{{ article.title }}</h1>
        <br>
        <h2>{{ article.source.name }}</h2> 
        <p>{{ article.publishedAt | date:'fullDate' }}</p>
        <br>
      </ion-label>
    
      </ion-item>

    </ion-list>

  </div>

  <div *ngIf="businessIsTrue">

    <ion-list *ngFor="let article of businessArticles">
  
      <ion-item *ngIf="!showLoader" detail="false">

      <ion-label class="ion-text-wrap" href='' router-direction="forward" (click)="openArticle($event, article)">
        <img src="{{ article.image }}" alt="">
        <h1>{{ article.title }}</h1>
        <br>
        <h2>{{ article.source.name }}</h2> 
        <p>{{ article.publishedAt | date:'fullDate' }}</p>
        <br>
      </ion-label>
    
      </ion-item>

    </ion-list>

  </div>

  <div *ngIf="technologyIsTrue">

    <ion-list *ngFor="let article of technologyArticles">
  
      <ion-item *ngIf="!showLoader" detail="false">

      <ion-label class="ion-text-wrap" href='' router-direction="forward" (click)="openArticle($event, article)">
        <img src="{{ article.image }}" alt="">
        <h1>{{ article.title }}</h1>
        <br>
        <h2>{{ article.source.name }}</h2> 
        <p>{{ article.publishedAt | date:'fullDate' }}</p>
        <br>
      </ion-label>
    
      </ion-item>

    </ion-list>

  </div>

  <div *ngIf="entertainmentIsTrue">

    <ion-list *ngFor="let article of entertainmentArticles">
  
      <ion-item *ngIf="!showLoader" detail="false">

      <ion-label class="ion-text-wrap" href='' router-direction="forward" (click)="openArticle($event, article)">
        <img src="{{ article.image }}" alt="">
        <h1>{{ article.title }}</h1>
        <br>
        <h2>{{ article.source.name }}</h2> 
        <p>{{ article.publishedAt | date:'fullDate' }}</p>
        <br>
      </ion-label>
    
      </ion-item>

    </ion-list>

  </div>

  <div *ngIf="sportsIsTrue">

    <ion-list *ngFor="let article of sportsArticles">
  
      <ion-item *ngIf="!showLoader" detail="false">

      <ion-label class="ion-text-wrap" href='' router-direction="forward" (click)="openArticle($event, article)">
        <img src="{{ article.image }}" alt="">
        <h1>{{ article.title }}</h1>
        <br>
        <h2>{{ article.source.name }}</h2> 
        <p>{{ article.publishedAt | date:'fullDate' }}</p>
        <br>
      </ion-label>
    
      </ion-item>

    </ion-list>

  </div>

  <div *ngIf="scienceIsTrue">

    <ion-list *ngFor="let article of scienceArticles">
  
      <ion-item *ngIf="!showLoader" detail="false">

      <ion-label class="ion-text-wrap" href='' router-direction="forward" (click)="openArticle($event, article)">
        <img src="{{ article.image }}" alt="">
        <h1>{{ article.title }}</h1>
        <br>
        <h2>{{ article.source.name }}</h2> 
        <p>{{ article.publishedAt | date:'fullDate' }}</p>
        <br>
      </ion-label>
    
      </ion-item>

    </ion-list>

  </div>

  <div *ngIf="healthIsTrue">

    <ion-list *ngFor="let article of healthArticles">
  
      <ion-item *ngIf="!showLoader" detail="false">

      <ion-label class="ion-text-wrap" href='' router-direction="forward" (click)="openArticle($event, article)">
        <img src="{{ article.image }}" alt="">
        <h1>{{ article.title }}</h1>
        <br>
        <h2>{{ article.source.name }}</h2> 
        <p>{{ article.publishedAt | date:'fullDate' }}</p>
        <br>
      </ion-label>
    
      </ion-item>

    </ion-list>

  </div>

  <div class="back-to-top-btn" *ngIf="backToTop" (click)="gotToTop()">
    <ion-icon name="chevron-up-outline"></ion-icon>
  </div>