<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button color="primary"></ion-back-button>
    </ion-buttons>
    <ion-title color="primary">Settings</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <div class="center-desktop">

    <ion-item>
      <ion-label>Go Anonymous</ion-label>
      <ion-toggle [(ngModel)]="goAnonymous"></ion-toggle>
    </ion-item>

    <ion-list>
      <ion-item (click)="goToAccount()">Account</ion-item>
      <ion-item (click)="goToUpdateProfile()">Update Profile</ion-item>
      <ion-item detail="false" [routerLink]="['/about']">About</ion-item>
      <ion-item detail="false" [routerLink]="['/privacy']">Privacy Policy</ion-item>
      <ion-item detail="false" [routerLink]="['/terms']">Terms and Conditions</ion-item>
    </ion-list>
    
    <br>
      
    <ion-button fill="outline" (click)="emailSignOut()" expand="block">Sign Out</ion-button>

  </div>

</ion-content>
