<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button color="primary"></ion-back-button>
    </ion-buttons>
    <ion-title color="primary">About</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  
  <div class="center-desktop">

    <h5>
      Do you ever read an article published in a well respected, mainstream newspaper and think to yourself...
    </h5>
    
    <h3>
      "This article doesn't make any sense. How could this be published in a paper like this? Is it just me? Is my thinking off?
      Does anyone else see what I see, or feel that something is off here?"
    </h3>

    <p>
      For anyone interested in making sense of the world by having honest conversations related to current events,
      GoPulse is a social news platform that was built from the ground up to help users discover, share and
      discuss news sourced from well known publishers. Unlike current social platforms, GoPulse generates its 
      revenue from a small monthly subscription and because publishers are currated and articles on the platform are user-driven, 
      rather than user-generated, problems related to fake news, bots, disinformation campaigns, deepfakes, etc. are eliminated.
    </p>
    <p>
      Although news on the platform may be factually correct, the mainstream news media does lie by omission and is becoming 
      increasingly prone to narrative driven journalism, where the facts of an article are technically correct but the story 
      is molded to fit a predetermined narrative based on the publications political philosophy.
      It is up to the GoPulse community to work together to call out political bias, misleading headlines, sensationalism, 
      clickbait and articles that just don't make sense. Intellectual honesty is of the utmost importance when commenting.
      When disagreements inevitably occur, work through the argument from the other side first so if you finally conclude 
      that you are in fact correct, you will be able to make a clear and concise refute to any likely counter argument. 
      If we all strive for respectful communication that's based on getting to the truth on any given issue, then we can turn 
      this social community into an enourmous source of good that can lead to a renaissance of good faith arguments and honest 
      dialogue related to the changing global landscape.
    </p>

  </div>

</ion-content>