<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button color="primary"></ion-back-button>
    </ion-buttons>
    <ion-title color="primary">About</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  
  <div class="center-desktop">

    <h5>
      Have you ever read an article published in a well respected, mainstream newspaper and thought to yourself...
    </h5>
    
    <h3>
      "This article doesn't make any sense. How could this be published in a paper like this? Is it just me? Is my thinking off?
      Does anyone else see what I see, or feel that something is off here?"
    </h3>

    <p>
      For anyone interested in making sense of the world by having honest conversations related to current events,
      GoPulse is a social news platform that was built from the ground up to help users discover, share and
      discuss news sourced from well known publishers. Unlike current social platforms, GoPulse generates its 
      revenue from a small monthly subscription and because publishers are currated and articles on the platform are user-driven, 
      rather than user-generated, problems related to fake news, bots, disinformation campaigns, deepfakes, etc. are essentially 
      eliminated.
    </p>

    <p>
      Although articles on the platform can be counted on to be factually correct, the mainstream news media is becoming 
      increasingly prone to narrative driven journalism, where the facts of an article are technically correct but the story 
      is molded to fit a predetermined narrative based on the publications political philosophy.
      It is up to the GoPulse community to work together to call out political bias, misleading headlines, sensationalism, 
      clickbait and articles that just don't make sense. Intellectual honesty is of the utmost importance when commenting.
      When disagreements inevitably occur, work through the argument from the other side first so if you finally conclude 
      that you are in fact correct, you will be able to make a clear and concise refute to any likely counter argument. 
      If we all strive for respectful communication that's based on getting to the truth on any given subject,
      this social community can be used as a starting point to create a world of good faith arguments and honest 
      dialogue related to the changing global landscape.
    </p>

    <h1>Features</h1>

    <p>
      GoPulse has a familiar user experience and most users should be comfortable navigating through the app.
      However, the platform does have some unique design features that may require a little explaination.
    </p>

    <h4>Go Anonymous</h4>

    <p>
      This feature allows you to share, flag and comment on articles and like and reply to comments anonymously. Your followers will still see this content
      on their news feeds, but won't be able to see who it was that shared it. Keep in mind that although this content is stored in our database anonymously,
       your identity may still be deduced by your followers.
    </p>

    <h4>Reading and Sharing</h4>

    <p>
      Users may have noticed that sharing of any kind is only possible after having read the article.
    </p>

    <h4>Flagging</h4>

    <h4>Direct Send</h4>

    <h1>About Tom</h1>

    <ion-avatar slot="start" button (click)="openUser()">
      <img src="../../assets/imgs/portrait.jpg">
    </ion-avatar>

    <p>
      Hello everyone, my name is Tom DeVito and I invented GoPulse. I have been working on some 
      version of this project for quite a while and my hope is that the app will make people's news 
      reading experience much more informative and pleasant.
    </p>

    <h1>How to get in touch</h1>
    <p>If you have any questions or comments regarding GoPulse, you can send an email to:</p>
    <ul>
    <li>
    <p>contact@gopulse.app</p>
    </li>
    </ul>

    <p>If you have any issues with your account or with trying to create an account, you can send an email to:</p>
    <ul>
    <li>
    <p>support@gopulse.app</p>
    </li>
    </ul>

  </div>

</ion-content>