<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title color="primary">About</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  
  <div class="center-desktop">

      <p>
        GoPulse is a social news aggregator designed to help make 
        sense of the world by connecting you with your friends, family 
        and a thoughtful community of users. Think of it as a social 
        network on top of Google News, because all of the articles are 
        being sourced from well known, mainstream publishers the actual 
        content being read on the platform will be factually correct, 
        but we still have to deal with the problem of mainstream media 
        bias, so the platform has a number of features to identify 
        journalism that is being disingenuous. The platform has a number 
        of other benefits such as being completely free of ads, which 
        means that our customers are also our users, having the option
        to share and discuss articles anonymously and taking responsibility
          for the articles indexing on the platform. 
        GoPulse is a social news platform built for discovering and sharing news
        articles from vetted publishers. Content on the platform, with the 
        exception of comments, is not user-generated, the content is user-driven.
        A user cannot upload or share an article they find online, it must first 
        exist as content that was indexed by Google News. Because Google News 
        has complete control over their news sources, they don’t struggle with 
        fake news or misinformation the way social media platforms do. Social 
        media platforms have millions(or billions) of users posting stories 
        from all over the internet, therefore they essentially have no editorial 
        control over what is uploaded and shared on their platforms. On the other 
        hand, because Google News has no social networking functionality, their 
        users are missing out on all the social aspects that draw users to the 
        social platforms in the first place. GoPulse is a social news aggregator
      that is designed to be the best of both worlds. It crawls and indexes article
        data from Google News for users on GoPulse to share and interact with. 
        The pulse tab, which contains the top headlines separated by category, 
        is a common shared reality where all subscribers are presented with the 
        same articles. This means that there are no personalized recommendation 
        algorithms designed to keep users on the platform longer than they need 
        to be. Unlike every other social media company which generates the majority 
        of their revenue from advertisements, GoPulse is monetized through a small 
        monthly subscription. This gives the platform a major advantage because our 
        users are also our customers and it keeps our incentives aligned.  
        While GoPulse may solve the problem of disinformation, we still have to contend
        with the larger and more pervasive problem of misinformation that is the 
        product of traditional media companies. GoPulse gives users the tools to 
        not only share and comment on articles but also to flag news articles as 
        being sensationalist, politically polarizing, politically biased, clickbait, 
        Users may not be journalists, but we can encourage journalistic objectivity 
        by calling out junk food news. Just because a particular story may be factually 
        correct does not mean it is objective. Fake news outlets may lie outright with
        patently false information, but when a large mainstream publisher lies by omission 
        so a story can fit their narrative it can be just as harmful.
      </p>

  </div>

</ion-content>
