<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button color="primary"></ion-back-button>
    </ion-buttons>
    <ion-title color="primary">The Wall Street Journal</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  
  <div class="center-desktop">

    <h1>Who will win the 2020 Presidential election?</h1>

    <p>November 3rd, 2020</p>

    <br>

    <div class="container">
    
      <ion-button fill="clear" icon-start>
        <ion-icon name="open"></ion-icon>
          0
      </ion-button>

      <ion-button (click)="share()" fill="clear" icon-start>
        <ion-icon name="arrow-redo-sharp"></ion-icon>
          0
      </ion-button>

      <ion-button (click)="flag()" fill="clear" icon-start>
        <ion-icon name="flag"></ion-icon>
          0
      </ion-button>

      <ion-button (click)="send()" fill="clear" icon-start>
        <ion-icon name="send"></ion-icon>
          0
      </ion-button>

    </div>

    <br>

    <h3>Comments 1</h3>

    <br>

    <ion-item>
      <ion-textarea type="text" placeholder="Say something smart..."></ion-textarea>
      <ion-button (click)="newComment()" fill="clear">
        <ion-icon name="send"></ion-icon>
      </ion-button>
    </ion-item>
    
    <br>

    <div>

      <ion-item>
        
        <ion-avatar slot="start">
          <img src="../../assets/imgs/portrait.jpg">
        </ion-avatar>
        
        <ion-label>
          TommyD left a comment
        </ion-label>

      </ion-item>

      <ion-item>
        <p>
          Serverless architectures are application designs that incorporate third-party 
          “Backend as a Service” (BaaS) services, and/or that include custom code run in 
          managed, ephemeral containers on a “Functions as a Service” (FaaS) platform. 
          By using these ideas, and related ones like single-page applications, such 
          architectures remove much of the need for a traditional always-on server
          component. Serverless architectures may benefit from significantly reduced 
          operational cost, complexity, and engineering lead time, at a cost of increased 
          reliance on vendor dependencies and comparatively immature supporting services.
        </p>
      </ion-item>

      <ion-button (click)="likeComment()" fill="clear">
        <ion-icon name="thumbs-up-sharp"></ion-icon>
          0
      </ion-button>

      <ion-button (click)="commentReply()" fill="clear">
        <ion-icon name="chatbubbles-sharp"></ion-icon>
          0
      </ion-button>

      <br>
      <br>

    </div>

  </div>