<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button color="primary"></ion-back-button>
    </ion-buttons>
    <ion-title color="primary">{{ publisher }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  
  <div class="center-desktop">

    <img src="{{ image }}" alt="">

    <h1>{{ title }}</h1>

    <p>{{ publishDate | date:'fullDate' }}</p>

    <p>{{ content }}</p>

    <br>

    <div class="container">
    
      <ion-button (click)="openArticle()" fill="clear" icon-start>
        <ion-icon name="open"></ion-icon>
        {{ (readCount | async)?.length }}
      </ion-button>

      <ion-button *ngIf="!userHasShared" (click)="share()" fill="clear" icon-start>
        <ion-icon name="thumbs-up-sharp"></ion-icon>
        {{ (shareCount | async)?.length }}
      </ion-button>

      <ion-button *ngIf="userHasShared" (click)="unShare()" fill="clear" icon-start>
        <ion-icon name="thumbs-up-sharp"></ion-icon>
        {{ (shareCount | async)?.length }}
      </ion-button>

      <ion-button *ngIf="!userHasFlagged" (click)="flag()" fill="clear" icon-start>
        <ion-icon name="warning"></ion-icon>
        {{ (flagCount | async)?.length }}
      </ion-button>

      <ion-button *ngIf="userHasFlagged" (click)="unFlag()" fill="clear" icon-start>
        <ion-icon name="warning"></ion-icon>
        {{ (flagCount | async)?.length }}
      </ion-button>

      <ion-button (click)="presentModal()" fill="clear" icon-start>
        <ion-icon name="send"></ion-icon>
        {{ (sendCount | async)?.length }}
      </ion-button>

    </div>

    <br>

    <h3>Comments {{ (commentCount | async)?.length }}</h3>

    <br>

    <ion-item>
      <ion-textarea [(ngModel)]="comment" type="text" placeholder="Say something smart..."></ion-textarea>
      <ion-button (click)="newComment()" fill="clear">
        <ion-icon name="send"></ion-icon>
      </ion-button>
    </ion-item>
    
    <br>

    <ion-list *ngFor="let comment of comments">

      <ion-item>
        
        <ion-avatar slot="start">
          <img src="{{ comment.photoUrl }}">
        </ion-avatar>
        
        <ion-label (click)="openUser($event, comment)">
          {{ comment.displayName }}
        </ion-label>

      </ion-item>

      <ion-item lines="none">
        <p>
          "{{ comment.comment }}"
        </p>
      </ion-item>

      <ion-button (click)="likeComment($event, comment)" fill="clear">
        <ion-icon name="thumbs-up-sharp"></ion-icon>
        {{ (commentLikeCount | async)?.length }}
      </ion-button>

      <ion-button (click)="openReplies($event, comment)" fill="clear">
        <ion-icon name="chatbubbles-sharp"></ion-icon>
        {{ (commentReplyCount | async)?.length }}
      </ion-button>

      <br>
      <br>

    </ion-list>

  </div>