<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Wired</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content class="ion-padding">
  
  <div class="center-desktop">

    <h1>Serverless Architectures</h1>

    <!-- <p>
      In this article, we’ll primarily focus on FaaS. Not only is it the area of Serverless that’s
      newer and driving a lot of the hype, but it has significant differences to how we typically think about technical architecture.
    </p> -->

    <br>
    
    <div class="container">

      <ion-button icon-start>

        <ion-icon name="open"></ion-icon>

        0

      </ion-button>

      <ion-button icon-start>

        <ion-icon name="share"></ion-icon>

        0

      </ion-button>

      <ion-button icon-start>

        <ion-icon name="flag"></ion-icon>

        0

      </ion-button>

      <ion-button icon-start>

        <ion-icon name="send"></ion-icon>

        0

      </ion-button>

    </div>
    
    <br>
    <br>

    <h3>Comments</h3>

    <br>

    <ion-item>

      <ion-avatar item-start>
        <img src="../../assets/imgs/logo.png" alt="">
      </ion-avatar>

    <ion-textarea type="text" placeholder="Say something smart .... "></ion-textarea>



      <ion-icon name="send"></ion-icon>



  </ion-item>

    <ion-item>
     
      <p>Serverless architectures are application designs that incorporate third-party “Backend as a Service” (BaaS) services, and/or that include custom code run in managed, ephemeral containers on a “Functions as a Service” (FaaS) platform. By using these ideas, and related ones like single-page applications, such architectures remove much of the need for a traditional always-on server component. Serverless architectures may benefit from significantly reduced operational cost, complexity, and engineering lead time, at a cost of increased reliance on vendor dependencies and comparatively immature supporting services.

      </p>

    </ion-item>

  </div>

</ion-content>
