<ion-header>
  <ion-toolbar>
    <ion-title>
      Headlines
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content  class="ion-padding">
  <ion-segment scrollable value="World">
    <ion-segment-button value="World">
      World
    </ion-segment-button>
    <ion-segment-button value="US">
      US
    </ion-segment-button>
    <ion-segment-button value="Business">
      Business
    </ion-segment-button>
    <ion-segment-button value="Technology">
      Technology
    </ion-segment-button>
    <ion-segment-button value="Entertainment">
      Entertainment
    </ion-segment-button>
    <ion-segment-button value="Sports">
      Sports
    </ion-segment-button>
    <ion-segment-button value="Science">
      Science
    </ion-segment-button>
    <ion-segment-button value="Health">
      Health
    </ion-segment-button>
  </ion-segment>
</ion-content>
