<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Sign Up</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <p>
    After a one month free trial, the service will cost $1 a month so it can remain independent 
    without advertising. No payment info required during trial. Cancel anytime.
  </p>

  <!-- <p>
    In order for the platfrom to remain independent without advertising, the service will cost $1 
    a month following a one month free trial. No payment info required during trial. Cancel anytime.
  </p> -->

  <ion-item>
    <ion-label position="floating">Email</ion-label>
    <ion-input required type="email" [(ngModel)]="email"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="floating">Username</ion-label>
    <ion-input required type="text" [(ngModel)]="displayName"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="floating">Full Name</ion-label>
    <ion-input required type="text" [(ngModel)]="fullName"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="floating">Password</ion-label>
    <ion-input required type="password" [(ngModel)]="password"></ion-input>
  </ion-item>

  <br>
  
  <ion-button (click)="emailSignUp()" expand="block">Start Free Trial</ion-button>

</ion-content>
