<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button color="primary"></ion-back-button>
    </ion-buttons>
    <ion-title color="primary">Start Subscription</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <div class="center-desktop">
  <p>
    In order to remain independent without advertising, the service will cost $5 a month.
    No payment info is needed to get started and you can cancel your subscription at any time.
  </p>

  <ion-item>
    <ion-label position="floating">GoCode</ion-label>
    <ion-input required type="text" [(ngModel)]="goCode"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="floating">Full Name</ion-label>
    <ion-input required type="text" [(ngModel)]="fullName"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="floating">Username</ion-label>
    <ion-input required type="text" [(ngModel)]="displayName" (keyup)="checkUsername()"></ion-input>
  </ion-item>

  <p style="color: #2fdf75" *ngIf="usernameAvailable && displayName">
    {{ displayName }} is available
  </p>

  <p style="color: #ff4961" *ngIf="!usernameAvailable && displayName">
    {{ displayName }} is not available
  </p>

  <ion-item>
    <ion-label position="floating">Email</ion-label>
    <ion-input required type="email" [(ngModel)]="email"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="floating">Password</ion-label>
    <ion-input required type="password" [(ngModel)]="password" (keyup)="checkPassword()"></ion-input>
  </ion-item>

  <br>
  
  <ion-button fill="outline" (click)="presentAlertConfirm()" expand="block">Start Subscription</ion-button>

  <br>

</div>

</ion-content>

<ion-footer class="ion-padding center-desktop">
  <ion-toolbar>
    <a [routerLink]="['/about']">About</a>
    <br>
    <br>
    <a [routerLink]="['/privacy']">Privacy Policy</a>
    <br>
    <br>
    <a [routerLink]="['/terms']">Terms and Conditions</a>
  </ion-toolbar>
</ion-footer>