<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button color="primary"></ion-back-button>
    </ion-buttons>
    <ion-title color="primary">Sign Up</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <div class="center-desktop">
  <p>
    In order to remain independent without advertising, the service will cost $1 a month.
    No payment info is needed to create an account, you will be emailed an invoice that you 
    have 30 days to pay.
  </p>

  <ion-item>
    <ion-label position="floating">GoCode</ion-label>
    <ion-input type="text" [(ngModel)]="goCode"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="floating">Email</ion-label>
    <ion-input required type="email" [(ngModel)]="email"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="floating">Username</ion-label>
    <ion-input required type="text" [(ngModel)]="displayName"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="floating">Full Name</ion-label>
    <ion-input required type="text" [(ngModel)]="fullName"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="floating">Password</ion-label>
    <ion-input required type="password" [(ngModel)]="password"></ion-input>
  </ion-item>

  <br>
  
  <ion-button fill="outline" (click)="presentAlertConfirm()" expand="block">Start Subscription</ion-button>

  <br>

</div>

</ion-content>

<ion-footer class="ion-padding center-desktop">
  <ion-toolbar>
    <a [routerLink]="['/about']">About</a>
    <br>
    <br>
    <a [routerLink]="['/privacy']">Privacy Policy</a>
    <br>
    <br>
    <a [routerLink]="['/terms']">Terms and Conditions</a>
  </ion-toolbar>
</ion-footer>