<ion-app>
  <ion-header>
    <ion-toolbar>
      <ion-title color="primary">GoPulse</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content class="ion-padding">

    <div class="center-desktop">
    
    <h1>Welcome to GoPulse</h1>
    
    <p>
      GoPulse is a social news platform designed to help users make sense of the world together.
      It provides an ad free experience and is the only 
      social network where you are the customer, not the product.
      With GoPulse you can:
    </p>
     
    <ul>
      <li>Get a much broader perspective on current events</li>
      <li>Discover, read and share the latest news from well known sources</li>
      <li>Follow other GoPulse users to get article recomendations designed to keep you informed and open minded</li>
    </ul>
    
    <br>

    <p>New to GoPulse?</p>
    <ion-button fill="outline" [routerLink]="['/sign-up']" expand="block">Sign Up</ion-button>

    <p>Already have an account?</p>
    <ion-button fill="outline" [routerLink]="['/sign-in']" expand="block">Sign In</ion-button>
  
  </div>
  </ion-content>
</ion-app>