<ion-header>
  <ion-toolbar>
    <ion-title>Following</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <div class="center-desktop">

    <div *ngFor="let followee of following">

      <ion-item>
        <ion-avatar slot="start">
          <img src="../../assets/imgs/logo.png">
        </ion-avatar>
        <ion-label>
          <h2>{{ followee.uid }}</h2>
          <p>Button on right</p>
        </ion-label>
      </ion-item>

    </div>

  </div>

</ion-content>