<ion-header>
  <ion-toolbar>
    <ion-buttons slot="end">
      <ion-button (click)="dismissModal()">Close</ion-button>
    </ion-buttons>
    <ion-title>Send Article To...</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <div class="center-desktop">

    <div *ngFor="let follower of followers">

      <ion-item (click)="sendArticle($event, follower)">
        <ion-avatar slot="start">
          <img src="{{ follower.followerPhotoUrl }}">
        </ion-avatar>
        <ion-label>
          <h2>{{ follower.followerDisplayName }}</h2>
        </ion-label>
      </ion-item>

    </div>

  </div>

</ion-content>