<ion-header>
  <ion-toolbar>
    <ion-title color="primary">Profile</ion-title>
    <ion-button (click)="settings()" fill="clear" slot="end">
      <ion-icon slot="icon-only" name="settings"></ion-icon>
    </ion-button>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <div class="center-desktop">

    <ion-item class="ion-text-wrap">

      <ion-avatar id="ion-avatar" slot="start">
        <img src="{{ profileUrl | async }}">
      </ion-avatar>

      <ion-label>
        <h2>{{ (profileDoc | async)?.displayName }}</h2>
        <p>{{ (profileDoc | async)?.fullName }}</p>
      </ion-label>
      
      <ion-label>
        <ion-button expand="block" fill="outline" (click)="goToFollowers()">0 Followers</ion-button>
        <ion-button expand="block" fill="outline" (click)="goToFollowing()">0 Following</ion-button>
      </ion-label>
  
    </ion-item>

    <br>
    <br>

    <div *ngFor="let active of userActivity">

      <ion-item detail="false" button>
        
        <ion-avatar slot="start" button (click)="openUser($event, active)">
          <img src="../../assets/imgs/portrait.jpg">
        </ion-avatar>
        
        <ion-label class="ion-text-wrap" button (click)="openArticle($event, active)">
          <h2>{{ active.uid }}</h2> sent you an article
        </ion-label>
  
      </ion-item>
  
      <ion-item detail="false" button>

        <ion-label class="ion-text-wrap" button (click)="openArticle($event, active)">
          <h1>{{ active.title }}</h1>
          <br>
          <h2>{{ active.publisher }}</h2> 
          <p>{{ active.date }}</p>
          <br>
        </ion-label>
      
      </ion-item>
  
    </div>

  </div>

</ion-content>