<ion-header>
  <ion-toolbar>
    <ion-title color="primary">Profile</ion-title>
    <ion-button (click)="settings()" fill="clear" slot="end">
      <ion-icon slot="icon-only" name="settings"></ion-icon>
    </ion-button>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <div *ngIf="showLoader">
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <ion-spinner name="bubbles" color="primary"></ion-spinner>
  </div>

  <div *ngIf="!showLoader" class="center-desktop">

    <ion-item class="ion-text-wrap">

      <ion-avatar id="ion-avatar" slot="start">
        <img src="{{ (profileDoc | async)?.photoURL }}">
      </ion-avatar>

      <ion-label>
        <h2>{{ (profileDoc | async)?.displayName }}</h2>
        <p>{{ (profileDoc | async)?.fullName }}</p>
      </ion-label>
      
      <ion-label>
        <ion-button expand="block" fill="outline" (click)="goToFollowers()">{{ (followers | async)?.length }} Followers</ion-button>
        <ion-button expand="block" fill="outline" (click)="goToFollowing()">{{ (following | async)?.length }} Following</ion-button>
      </ion-label>
  
    </ion-item>

    <p>{{ (profileDoc | async)?.bio }}</p>

    <br>
    <br>

    <div *ngFor="let active of userActivity | async">

      <ion-item detail="false">
        
        <ion-avatar *ngIf="active.recievedIsTrue" slot="start" (click)="openUser($event, active)">
          <img src="{{ active.senderPhotoUrl}}">
        </ion-avatar>
        
        <ion-label class="ion-text-wrap" (click)="openUser($event, active)">
          <h2 *ngIf="active.sharedIsTrue">You liked this article </h2>
          <h2 *ngIf="active.recievedIsTrue">{{ active.senderDisplayName }} sent you this article </h2>
          <h2 *ngIf="active.sentIsTrue">You sent {{ active.sendeeDisplayName }} this article </h2>
          <h2 *ngIf="active.commentIsTrue">You commented on this article</h2>
          <h2 *ngIf="active.flaggedIsTrue">You labeled this article as narrative driven journalism</h2>
          <h2 *ngIf="active.likedCommentIsTrue">You liked this comment</h2>
        </ion-label>
  
      </ion-item>

      <ion-item *ngIf="active.commentIsTrue">
        <p>
          "{{ active.comment }}"
        </p>
      </ion-item>

      <ion-item *ngIf="active.likedCommentIsTrue">
        <p>
          "{{ active.comment }}"
        </p>
      </ion-item>

      <ion-item *ngIf="active.sentIsTrue">
        <p>
          "{{ active.message }}"
        </p>
      </ion-item>

      <ion-item *ngIf="active.recievedIsTrue">
        <p>
          "{{ active.message }}"
        </p>
      </ion-item>
  
      <ion-item (click)="openArticle($event, active)" detail="false">

        <ion-label class="ion-text-wrap">
          <img src="{{ active.image }}" alt="">
          <h1>{{ active.title }}</h1>
          <br>
          <h2>{{ active.publisher }}</h2>
          <p>{{ active.publishDate | date:'fullDate' }}</p>
          <br>
        </ion-label>
      
      </ion-item>
  
    </div>

  </div>

</ion-content>