<ion-header>
  <ion-toolbar>
    <ion-title color="primary">Profile</ion-title>
    <ion-button (click)="settings()" fill="clear" slot="end">
      <ion-icon slot="icon-only" name="settings"></ion-icon>
    </ion-button>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <div class="center-desktop">

    <ion-item class="ion-text-wrap">

      <ion-avatar id="ion-avatar" slot="start">
        <img src="{{ profileUrl | async }}">
      </ion-avatar>

      <ion-label>
        <h2>{{ (profileDoc | async)?.displayName }}</h2>
        <p>{{ (profileDoc | async)?.fullName }}</p>
      </ion-label>
      
      <ion-label>
        <ion-button expand="block" fill="outline" (click)="goToFollowers()">{{ (followers | async)?.length }} Followers</ion-button>
        <ion-button expand="block" fill="outline" (click)="goToFollowing()">{{ (following | async)?.length }} Following</ion-button>
      </ion-label>
  
    </ion-item>

    <br>
    <br>

    <div *ngFor="let active of userActivity">

      <ion-item detail="false" button>
        
        <ion-avatar slot="start" button (click)="openUser($event, active)">
          <img src="profileUrl | async">
        </ion-avatar>
        
        <ion-label class="ion-text-wrap" button (click)="openArticle($event, active)">
          <h2 *ngIf="active.sharedIsTrue">You shared an article </h2>
          <h2 *ngIf="active.sentIsTrue">{{ active.senderUid }} sent you an article </h2>
          <h2 *ngIf="active.commentIsTrue">You commented on an article</h2>
          <h2 *ngIf="active.flaggedIsTrue">You flagged an article as biased</h2>
        </ion-label>
  
      </ion-item>
  
      <ion-item detail="false" button>

        <ion-label class="ion-text-wrap" button (click)="openArticle($event, active)">
          <h1>{{ active.title }}</h1>
          <br>
          <h2>{{ active.publisher }}</h2> 
          <p>{{ active.date }}</p>
          <br>
        </ion-label>
      
      </ion-item>

      <ion-item *ngIf="active.commentIsTrue">
        <p>
          "{{ active.comment }}"
        </p>
      </ion-item>
  
    </div>

  </div>

</ion-content>