<ion-header>
  <ion-toolbar>
    <ion-title color="primary">Search</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <div class="center-desktop">

    <ion-segment (ionChange)="segmentChanged($event)" value="news">
      <ion-segment-button value="news">
        <ion-label>News</ion-label>
      </ion-segment-button>
      <ion-segment-button value="users">
        <ion-label>Users</ion-label>
      </ion-segment-button>
    </ion-segment>

    <ion-searchbar *ngIf="searchingNews" inputmode="search" enterkeyhint="search" debounce="500" type="search" 
        (ionInput)="searchNews($event)" placeholder="search the news..." clearInput="true">
    </ion-searchbar>

    <ion-searchbar *ngIf="searchingUsers" inputmode="search" enterkeyhint="search" type="search" 
        (ionInput)="searchUsers()" [(ngModel)]="userQuery" placeholder="search for a user..." clearInput="true">
    </ion-searchbar>

  </div>

</ion-content>
