<ion-header>
  <ion-toolbar>
    <ion-title color="primary">Search</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding" [scrollEvents]="true" (ionScroll)="getScrollPos($event.detail.scrollTop)">

  <div class="center-desktop">

    <ion-segment (ionChange)="segmentChanged($event)" value="news">
      <ion-segment-button value="news">
        <ion-label>News</ion-label>
      </ion-segment-button>
      <ion-segment-button value="users">
        <ion-label>Subscribers</ion-label>
      </ion-segment-button>
    </ion-segment>

    <ion-searchbar *ngIf="searchingNews" inputmode="search" enterkeyhint="search" debounce="1000" type="search" 
        (ionInput)="searchNews($event)" placeholder="search the news..." clearInput="true">
    </ion-searchbar>

    <ion-searchbar *ngIf="searchingUsers" [(ngModel)]="searchTerm" inputmode="search" enterkeyhint="search" debounce="1000" type="search" 
        (ionInput)="searchUsers($event)" placeholder="search for a subscriber..." clearInput="true">
    </ion-searchbar>

    <div *ngIf="showLoader">
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <ion-spinner name="bubbles" color="primary"></ion-spinner>
    </div>

    <div *ngIf="!showLoader">

    <div *ngFor="let article of articles">
  
      <ion-item *ngIf="searchingNews" detail="false">

        <ion-label class="ion-text-wrap" href='' router-direction="forward" (click)="openArticle($event, article)">
          <img src="{{ article.image }}" alt="">
          <h1>{{ article.title }}</h1>
          <br>
          <h2>{{ article.source.name }}</h2>
          <p>{{ article.publishedAt | date:'fullDate' }}</p>
          <br>
        </ion-label>
    
      </ion-item>

    </div>

    <div *ngFor="let user of userResults">

      <ion-item *ngIf="searchingUsers" detail="false">
        
        <ion-avatar slot="start" (click)="openUser($event, user)">
          <img src="{{ user.photoURL }}">
        </ion-avatar>
      
        <ion-label class="ion-text-wrap" (click)="openUser($event, user)">
          <h2>{{ user.displayName }}</h2>
          <h3>{{ user.fullName }}</h3>
        </ion-label>

      </ion-item>

    </div>

  </div>

  <div class="back-to-top-btn" *ngIf="backToTop" (click)="gotToTop()">
    <ion-icon name="chevron-up-outline"></ion-icon>
  </div>