<ion-header>
  <ion-toolbar>
    <ion-title color="primary">Home</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <div class="center-desktop">

    <div *ngFor="let active of followingActivity">

    <ion-item detail="false" button>
      <ion-avatar slot="start" button (click)="openUser($event, active)">
        <img src="{{ active.photoUrl }}">
      </ion-avatar>
      
        <ion-label class="ion-text-wrap" button (click)="openUser($event, active)">
          <h2 *ngIf="active.sharedIsTrue">{{ active.displayName }} shared an article</h2> 
          <h2 *ngIf="active.sentIsTrue">{{ active.senderDisplayName }} sent you an article</h2> 
          <h2 *ngIf="active.commentIsTrue">{{ active.displayName }} commented on an article</h2> 
          <h2 *ngIf="active.flaggedIsTrue">{{ active.displayName }} flagged an article as biased</h2> 
        </ion-label>

      </ion-item>

        <ion-item detail="false" button>
  
        <ion-label class="ion-text-wrap" button (click)="openArticle($event, active)">
          <h1>{{ active.title }}</h1>
          <br>
          <h2>{{ active.publisher }}</h2> 
          <p>{{ active.publishDate }}</p>
          <br>
        </ion-label>
      
        </ion-item>

        <ion-item *ngIf="active.commentIsTrue">
          <p>
            "{{ active.comment }}"
          </p>
        </ion-item>
    </div>
    <br>

    <h5>Thanks for signing up to GoPulse.</h5>

    <p>
      Below are your three GoCodes. Use these to invite the three smartest people 
      you know who are also news junkies and tend to think for themselves.
      It's important to bring new users onto the platform that are honest and open to new perspectives.
    </p>

    <ul>
      <li>Code</li>
      <li>Code</li>
      <li>Code</li>
    </ul>

 
  </div>

</ion-content>