<ion-header>
  <ion-toolbar>
    <ion-title color="primary">Home</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <div class="center-desktop">

    <div *ngFor="let active of followingActivity">

    <ion-item detail="false">
      <ion-avatar slot="start" (click)="openUser($event, active)">
        <img src="{{ active.photoUrl }}">
      </ion-avatar>
      
        <ion-label class="ion-text-wrap" button (click)="openUser($event, active)">
          <h2 *ngIf="active.sharedIsTrue">{{ active.displayName }} shared an article</h2> 
          <h2 *ngIf="active.sentIsTrue">{{ active.senderDisplayName }} sent you an article</h2> 
          <h2 *ngIf="active.commentIsTrue">{{ active.displayName }} commented on an article</h2> 
          <h2 *ngIf="active.flaggedIsTrue">{{ active.displayName }} flagged an article as clickbait</h2> 
        </ion-label>

      </ion-item>

        <ion-item detail="false">
  
        <ion-label class="ion-text-wrap" (click)="openArticle($event, active)">
          <h1>{{ active.title }}</h1>
          <br>
          <h2>{{ active.publisher }}</h2> 
          <p>{{ active.publishDate | date:'fullDate' }}</p>
          <br>
        </ion-label>
      
        </ion-item>

        <ion-item *ngIf="active.commentIsTrue">
          <p>
            "{{ active.comment }}"
          </p>
        </ion-item>
    </div>
    <br>

    <h5>Thank you for subscribing.</h5>

    <p>
      Below are your new GoCodes. Use these to invite the seven smartest people 
      you know to join you here. It's important to bring new subscribers
      onto the platform that are intelligent and open to new perspectives.
    </p>

    <ul>
      <li>{{ (profileDoc | async)?.goCodes[0] }}</li>
      <li>{{ (profileDoc | async)?.goCodes[1] }}</li>
      <li>{{ (profileDoc | async)?.goCodes[2] }}</li>
      <li>{{ (profileDoc | async)?.goCodes[3] }}</li>
      <li>{{ (profileDoc | async)?.goCodes[4] }}</li>
      <li>{{ (profileDoc | async)?.goCodes[5] }}</li>
      <li>{{ (profileDoc | async)?.goCodes[6] }}</li>
    </ul>

 
  </div>

</ion-content>