<ion-header>
  <ion-toolbar>
    <ion-title>Home</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <div class="center-desktop">

    <ion-item>
      <ion-avatar slot="start" button (click)="openUser()">
        <img src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAAAAACH5BAAAAAAALAAAAAABAAEAAAICTAEAOw==">
      </ion-avatar>
      <ion-text>
        <ion-label button (click)="openArticle()">
          TommyD shared an article
        </ion-label>
        <br>
        <ion-label class="ion-text-wrap" button (click)="openArticle()">
          <h1>Dewey defeats Truman!</h1>
          <br>
          <h2>Wired</h2> 
          <br>
        </ion-label>
      </ion-text>
    </ion-item>

    <ion-item>
      <ion-avatar slot="start" button (click)="openUser()">
        <img src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAAAAACH5BAAAAAAALAAAAAABAAEAAAICTAEAOw==">
      </ion-avatar>
      <ion-text>
        <ion-label button (click)="openArticle()">
          TommyD shared an article
        </ion-label>
        <br>
        <ion-label class="ion-text-wrap" button (click)="openArticle()">
          <h1>Dewey defeats Truman!</h1>
          <br>
          <h2>Wired</h2> 
          <br>
        </ion-label>
      </ion-text>
    </ion-item>

    <ion-item>
      <ion-avatar slot="start" button (click)="openUser()">
        <img src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAAAAACH5BAAAAAAALAAAAAABAAEAAAICTAEAOw==">
      </ion-avatar>
      <ion-text>
        <ion-label button (click)="openArticle()">
          TommyD shared an article
        </ion-label>
        <br>
        <ion-label class="ion-text-wrap" button (click)="openArticle()">
          <h1>Dewey defeats Truman!</h1>
          <br>
          <h2>Wired</h2> 
          <br>
        </ion-label>
      </ion-text>
    </ion-item>

    <ion-item>
      <ion-avatar slot="start" button (click)="openUser()">
        <img src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAAAAACH5BAAAAAAALAAAAAABAAEAAAICTAEAOw==">
      </ion-avatar>
      <ion-text>
        <ion-label button (click)="openArticle()">
          TommyD shared an article
        </ion-label>
        <br>
        <ion-label class="ion-text-wrap" button (click)="openArticle()">
          <h1>Dewey defeats Truman!</h1>
          <br>
          <h2>Wired</h2> 
          <br>
        </ion-label>
      </ion-text>
    </ion-item>

    <ion-item>
      <ion-avatar slot="start" button (click)="openUser()">
        <img src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAAAAACH5BAAAAAAALAAAAAABAAEAAAICTAEAOw==">
      </ion-avatar>
      <ion-text>
        <ion-label button (click)="openArticle()">
          TommyD shared an article
        </ion-label>
        <br>
        <ion-label class="ion-text-wrap" button (click)="openArticle()">
          <h1>Dewey defeats Truman!</h1>
          <br>
          <h2>Wired</h2> 
          <br>
        </ion-label>
      </ion-text>
    </ion-item>

    <ion-item>
      <ion-avatar slot="start" button (click)="openUser()">
        <img src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAAAAACH5BAAAAAAALAAAAAABAAEAAAICTAEAOw==">
      </ion-avatar>
      <ion-text>
        <ion-label button (click)="openArticle()">
          TommyD shared an article
        </ion-label>
        <br>
        <ion-label class="ion-text-wrap" button (click)="openArticle()">
          <h1>Dewey defeats Truman!</h1>
          <br>
          <h2>Wired</h2> 
          <br>
        </ion-label>
      </ion-text>
    </ion-item>

    <ion-item>
      <ion-avatar slot="start" button (click)="openUser()">
        <img src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAAAAACH5BAAAAAAALAAAAAABAAEAAAICTAEAOw==">
      </ion-avatar>
      <ion-text>
        <ion-label button (click)="openArticle()">
          TommyD shared an article
        </ion-label>
        <br>
        <ion-label class="ion-text-wrap" button (click)="openArticle()">
          <h1>Dewey defeats Truman!</h1>
          <br>
          <h2>Wired</h2> 
          <br>
        </ion-label>
      </ion-text>
    </ion-item>

    
   
  </div>

</ion-content>