<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button color="primary"></ion-back-button>
    </ion-buttons>
    <ion-title color="primary">Account</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <div class="center-desktop">

    <p>You started your GoPulse subscription on {{ signedUpOn | date:'fullDate'  }} at {{ signedUpOn | date:'shortTime'  }} using GoCode: {{ goCode }}</p>

    <p>Your generated GoCodes</p>

    <ul>
      <ion-item lines="none" (click)="copyCode(code1)" icon-start>
        <ion-icon name="copy-outline"></ion-icon>
        {{ code1 }}
      </ion-item>
      <ion-item lines="none" (click)="copyCode(code2)" icon-start>
        <ion-icon name="copy-outline"></ion-icon>
        {{ code2 }}
      </ion-item>
      <ion-item lines="none" (click)="copyCode(code3)" icon-start> 
        <ion-icon name="copy-outline"></ion-icon>
        {{ code3 }}
      </ion-item>
      <ion-item lines="none" (click)="copyCode(code4)" icon-start>
        <ion-icon name="copy-outline"></ion-icon>
        {{ code4 }}
      </ion-item>
      <ion-item lines="none" (click)="copyCode(code5)" icon-start>
        <ion-icon name="copy-outline"></ion-icon>
        {{ code5 }}
      </ion-item>
      <ion-item lines="none" (click)="copyCode(code6)" icon-start>
        <ion-icon name="copy-outline"></ion-icon>
        {{ code6 }}
      </ion-item>
      <ion-item lines="none" (click)="copyCode(code7)" icon-start>
        <ion-icon name="copy-outline"></ion-icon>
        {{ code7 }}
      </ion-item>
    </ul>

    <p>
      Permanently cancel your GoPulse subscription and delete your user profile.
    </p>

    <br>
  
    <ion-button fill="outline" (click)="presentAlertConfirm()" expand="block">Cancel Subscription</ion-button>

    <br>

  </div>

</ion-content>
