<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button color="primary"></ion-back-button>
    </ion-buttons>
    <ion-title color="primary">Update Profile</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <div class="center-desktop">

    <ion-button expand="block">
      <ion-icon lazy="true" slot="start" name="image"></ion-icon>
      <ion-label slot="end">Add a profile picture</ion-label>
      <input type="file" (change)="uploadFile($event)" id="file-input"
        accept="image/png, image/jpeg">
    </ion-button>

    <div>{{ uploadPercent | async }}</div>
    <ion-avatar *ngIf="downloadURL" id="ion-avatar" slot="start">
      <img src="{{ downloadURL }}">
    </ion-avatar>

    <br>
    <br>
  
    <ion-item>
      <ion-label position="floating">{{ (profileDoc | async)?.displayName }}</ion-label>
      <ion-input type="text" [(ngModel)]="newDisplayName"></ion-input>
    </ion-item>
  
    <ion-item>
      <ion-label position="floating">{{ (profileDoc | async)?.fullName }}</ion-label>
      <ion-input type="text" [(ngModel)]="newFullName"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Short bio - {{ (profileDoc | async)?.bio }}</ion-label>
      <ion-input type="text" [(ngModel)]="bio"></ion-input>
    </ion-item>

    <p>NOTE: You must first log out and log in before updating your email or password.</p>

    <ion-item>
      <ion-label position="floating">{{ (profileDoc | async)?.email}}</ion-label>
      <ion-input type="text" [(ngModel)]="newEmail"></ion-input>
    </ion-item>
  
    <ion-item>
      <ion-label position="floating">New Password</ion-label>
      <ion-input type="password" [(ngModel)]="newPassword"></ion-input>
    </ion-item>

    <br>
  
    <ion-button (click)="updateProfile()" fill="outline" expand="block">Update</ion-button>

  </div>

</ion-content>
