<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button color="primary"></ion-back-button>
    </ion-buttons>
    <ion-title color="primary">Update Profile</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <div class="center-desktop">
  
    <ion-item>
      <ion-label position="floating">{{ (profileDoc | async)?.displayName }}</ion-label>
      <ion-input type="text" [(ngModel)]="newDisplayName"></ion-input>
    </ion-item>
  
    <ion-item>
      <ion-label position="floating">{{ (profileDoc | async)?.fullName }}</ion-label>
      <ion-input type="text" [(ngModel)]="newFullName"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">{{ (profileDoc | async)?.email}}</ion-label>
      <ion-input type="text" [(ngModel)]="newEmail"></ion-input>
    </ion-item>
  
    <ion-item>
      <ion-label position="floating">New Password</ion-label>
      <ion-input type="password" [(ngModel)]="newPassword"></ion-input>
    </ion-item>

    <br>
  
    <ion-button (click)="updateProfile()" fill="outline" expand="block">Update</ion-button>

    <br>

    <br>

    <br>

    <ion-label position="floating">Update Profile Picture</ion-label>
    <ion-input type="file" (change)="uploadFile($event)"></ion-input>
    <div>{{ uploadPercent | async }}</div>
    <a [href]="downloadURL | async">{{ downloadURL | async }}</a>

    <br>

  </div>

</ion-content>
